/* Desktop */
  .navWide {
      display: block;
      }

    .wideDiv {
      text-align: center;
    }

    nav{
    background-color:black;
    overflow: hidden;
      padding: 1em;   
    }

    a:hover{
      text-decoration: none ;
      color: #b05c87 !important;
    }
  
    /* Initialize to red */
    #Home{
      color: #e74f4f;
    }

    a{
      font-family: 'Noto Serif TC', serif;
      font-size:20px;
      text-decoration: none;
      color:#FFF;
      text-align: center;
      display: inline-block;
      padding: 0 6vw;   
      text-decoration: none !important;
      }

    a:visited {
      color: white;
    }



/*800px*/
@media only screen and (max-width: 800px) {
  a{
    font-family: 'Noto Serif TC', serif;
    font-size:25px;
    text-decoration: none;
    color:#FFF;
    text-align: center;
    display: inline-block;
    padding: 0 5vw;   
    text-decoration: none !important;
    }
}

/*600px*/
@media only screen and (max-width: 600px) {
  a{
    font-family: 'Noto Serif TC', serif;
    font-size:15px;
    text-decoration: none;
    color:#FFF;
    text-align: center;
    display: inline-block;
    padding: 0 3vw;   
    text-decoration: none !important;
    }
}