

.App {
  text-align: center;
  position: relative;
  background-color: #e74f4f;
}

.link {
  font-size: 50px;
  font-family: 'Noto Serif TC', serif;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.link:hover { 
  cursor: pointer;
}

.row {
  display: inline-flex;
  width: 100%;
}
.col {
  flex:1;
} 
