.App {
  text-align: center;
  position: relative;
}

#cursor{
  font-family: 'Noto Serif TC', serif;
  color: white;
  animation:blinkingText 1.2s infinite;
  }

.dot {
 
  height: 50px;
  width: 50px;
  background-color:black;
  border-radius: 50%;
  /* display: inline-block; */
  position: absolute;
  top: 50vh;
  left: 47.8%;
  /* margin-left: auto;
  margin-right: auto; */
   opacity: 0.01;
   padding: 0px;
   text-align: center;  
}
.dot{
  transition: all 1.8s ease-in-out;
  overflow: hidden;
}


#container:hover > .dot{ transform: scale(10); opacity: 1; }

.Tanush{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50vh;
    width: 100%;
    font-family: 'Noto Serif TC', serif;
    color: white   
}

#enter{
  z-index: 5;
  font-size: 5px
}

.App-header {
  background-color: #e74f4f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  line-height: 10px;
  color:  #191919;
}

.App-link {
  color: #61dafb;
}

@keyframes blinkingText{
  from, to { color: transparent }
  0.1% { opacity: 1;}
  50% { color: white; }
  99.9% {opacity: 1;}
  }



@media only screen and (max-width: 800px) {
  .Tanush{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 45vh;
    width: 100%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    font-size: 8vw;  
}


  .dot {
 
    height: 50px;
    width: 50px;
    background-color:black;
    border-radius: 50%;
        position: absolute;
    top: 42vh;
    left: 46.8%;
    opacity: 0.01;
     padding: 0px;
     text-align: center;  
  }

  #container:hover > .dot{ transform: scale(7); opacity: 1; }
} 

@media only screen and (max-width: 600px) {
  .Tanush{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 40vh;
    width: 100%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    font-size: 10vw;  
}


  .dot {
 
    height: 50px;
    width: 50px;
    background-color:black;
    border-radius: 50%;
        position: absolute;
    top: 38vh;
    left: 44.8%;
    opacity: 0.01;
     padding: 0px;
     text-align: center;  
  }
  #container:hover > .dot{ transform: scale(5); opacity: 1; }
} 





