.App {
  text-align: center;
  position: relative;
}

#cursor{
  font-family: 'Noto Serif TC', serif;
  color: white;
  animation:blinkingText 1.2s infinite;
  }

.dotM {
  height: 50px;
  width: 50px;
  background-color:black;
  border-radius: 50%;
  position: absolute;
  top: 49vh;
  left: 47.8%;
   opacity: 0.01;
   padding: 0px;
   text-align: center;  
}

.dotM{
  transition: all 1.8s ease-in-out;
  overflow: hidden;
}


#container:hover > .dotM{ transform: scale(10); opacity: 1; }

.Tanush{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50vh;
    width: 100%;
    font-family: 'Noto Serif TC', serif;
    color: white   
}

#enter{
  z-index: 5;
  font-size: 5px
}

.App-header {
  background-color: #e74f4f;
  background-image: linear-gradient(to bottom left, #e74f4f, #b05c87);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  line-height: 10px;
  color:  #191919;
}

.App-link {
  color: #61dafb;
}

@keyframes blinkingText{
  from, to { color: transparent }
  0.1% { opacity: 1;}
  50% { color: white; }
  99.9% {opacity: 1;}
  }



@media only screen and (max-width: 800px) {
  .Tanush{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 45vh;
    width: 100%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    font-size: 8vw;  
}


  .dotM {
 
    height: 50px;
    width: 50px;
    background-color:black;
    border-radius: 50%;
        position: absolute;
    top: 42vh;
    left: 46.8%;
    opacity: 0.01;
     padding: 0px;
     text-align: center;  
  }

  #container:hover > .dotM{ transform: scale(7); opacity: 1; }
} 

@media only screen and (max-width: 600px) {
  .Tanush{
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 40vh;
    width: 100%;
    font-family: 'Noto Serif TC', serif;
    color: white;
    font-size: 10vw;  
}


  .dotM {
 
    height: 50px;
    width: 50px;
    background-color:black;
    border-radius: 50%;
        position: absolute;
    top: 38vh;
    left: 44.8%;
    opacity: 1;
     padding: 0px;
     text-align: center;  
     animation: grow2 5s infinite; 
  }

  @keyframes grow2 {
    0% {transform: scale(1.0);}
    50% {transform: scale(4);}
    100% {transform: scale(1.0);}
  }
} 





